*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

  
}
body{
   padding-top: 72px;
}
.Container{
  width: 100%;
  height: 100vw;
  min-height: 100vh ;
  background: #ced8ff;
}
